<?xml version="1.0"?>

<model>
  <name>filling_line_box_4</name>
  <version>1.0</version>
  <sdf version="1.0">model.sdf</sdf>

  <author>
    <name>Joanna</name>
    <email>joanna@shadowrobot.com</email>
  </author>

  <description>
    A box to form part of the filling line
  </description>
</model>