<!--
 Copyright 2022 Shadow Robot Company Ltd.
 This program is free software: you can redistribute it and/or modify it
 under the terms of the GNU General Public License as published by the Free
 Software Foundation version 2 of the License.
 This program is distributed in the hope that it will be useful, but WITHOUT
 ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or
 FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for
 more details.
 You should have received a copy of the GNU General Public License along
 with this program. If not, see <http://www.gnu.org/licenses/>.
-->

<launch>
  <arg name="rosbag_path" default=""/>
  <arg name="tf_topic_name" default="/tf"/>
  <arg name="remapped_tf_topic_name" default="tf_bag"/>
  <arg name="tf_name_regexes" default="[]"/>
  <arg name="tcp_nodelay" default="true"/>

  <node unless="$(eval arg('rosbag_path') == '')" pkg="rosbag" type="play" name="rosbag_mocap_tf" args="$(arg rosbag_path) --topics $(arg tf_topic_name) $(arg tf_topic_name):=$(arg remapped_tf_topic_name) -l" output="screen" />
  <node pkg="sr_utilities_common" type="real_time_tf_republisher.py" name="real_time_tf_republisher" output="screen">
    <param name="bag_tf_topic_name" value="$(arg remapped_tf_topic_name)" />
    <param name="tcp_nodelay" value="$(arg tcp_nodelay)" />
    <rosparam param="tf_name_regexes" subst_value="True">$(arg tf_name_regexes)</rosparam>
  </node>
</launch>
