<launch>
  <arg name="rosbag_path" default=""/>
  <arg name="remapped_tf_topic_name" default="tf_bag" />
  <arg name="tf_name_regexes" default="[]"/>
  <arg name="tcp_nodelay" default="true"/>
  <arg name="rename_from" default="[]"/>
  <arg name="rename_to" default="[]"/>

  <node unless="$(eval arg('rosbag_path') == '')" pkg="rosbag" type="play" name="rosbag_mocap_tf" args="$(arg rosbag_path) --topics /tf tf:=$(arg remapped_tf_topic_name) -l" output="screen" />
  <node pkg="sr_utilities_common" type="real_time_tf_republisher.py" name="real_time_tf_republisher" output="screen">
    <param name="bag_tf_topic_name" value="$(arg remapped_tf_topic_name)" />
    <param name="tcp_nodelay" value="$(arg tcp_nodelay)" />
    <rosparam param="tf_name_regexes" subst_value="True">$(arg tf_name_regexes)</rosparam>
    <rosparam param="rename_from" subst_value="True">$(arg rename_from)</rosparam>
    <rosparam param="rename_to" subst_value="True">$(arg rename_to)</rosparam>
  </node>
</launch>
