<?xml version="1.0"?>

<model>
  <name>bimanual_secondary_table</name>
  <version>1.0</version>
  <sdf version="1.5">model.sdf</sdf>

  <author>
    <name>Anastasios Zompas</name>
    <email>anastasios@shadowrobot.com</email>
  </author>

  <description>
    A secondary table used for bimanual manipulation.
  </description>
</model>
