<?xml version="1.0"?>

<model>
  <name>filling_line</name>
  <version>1.0</version>
  <sdf version="1.4">model.sdf</sdf>

  <author>
    <name>Joanna Phillips</name>
    <email>joanna@shadowrobot.com</email>
  </author>

  <description>
    The work surface for a vial filling line.
  </description>
</model>
