<?xml version="1.0"?>

<model>
  <name>robot_safe_store</name>
  <version>1.0</version>
  <sdf version="1.0">model.sdf</sdf>

  <author>
    <name>Georgia Blanco-Litchfield</name>
    <email>georgia@shadowrobot.com</email>
  </author>

  <description>
    A box to simulate a stored robot collision model.
  </description>
</model>
