<?xml version="1.0"?>

<model>
  <name>shadow_table_2017_full</name>
  <version>1.0</version>
  <sdf version="1.5">model.sdf</sdf>

  <author>
    <name>Ethan Fowler</name>
    <email>ethan@shadowrobot.com</email>
  </author>

  <description>
    The 2017 Shadow Robot Company modular table top, in its 1.5x1.5m configuration.
  </description>
</model>
