<?xml version="1.0"?>

<model>
  <name>bare_metal_table</name>
  <version>1.0</version>
  <sdf version="1.5">model.sdf</sdf>

  <author>
    <name>Anastasios Zompas</name>
    <email>anastasios@shadowrobot.com</email>
  </author>

  <description>
    The 2017 Shadow Robot Company modular table top, in its bare metal configuration, simplified.
  </description>
</model>
