<?xml version="1.0"?>

<model>
  <name>mobile_base</name>
  <version>1.0</version>
  <sdf version="1.0">model.sdf</sdf>

  <author>
    <name>Ethan Fowler</name>
    <email>software@shadowrobot.com</email>
  </author>

  <description>
    A box to simulate a mobile base (e.g. Rob@work4 from Fraunhofer IPA)
  </description>
</model>
