<?xml version="1.0" ?>
<model>
    <name>xprize_camera_stand</name>
    <version>1.0</version>
    <sdf version="1.0">model.sdf</sdf>
    <author>
        <name>Maximilian Zieba</name>
        <email>software@shadowrobot.com</email>
    </author>
    <description>Camera stand used for ANA Avatar XPRIZE competition</description>
</model>
