<?xml version="1.0"?>
<launch>
    <arg name="side" default="rh"/>
    <arg name="fingers" default="ff"/>
    <node pkg="sr_finger_mount" type="sr_finger_mount.py" name="SrFingerMount" output="screen">
        <param name="/fingers" value="$(arg fingers)"/>
        <param name="/side" value="$(arg side)"/>
    </node>
</launch>