<?xml version="1.0"?>

<model>
  <name>square_stand</name>
  <version>1.0</version>
  <sdf version="1.5">model.sdf</sdf>

  <author>
    <name>Georgia Blanco-Litchfield</name>
    <email>georgia@shadowrobot.com</email>
  </author>

  <description>
    A simple box emulating the square stand for RViz.
  </description>
</model>
