<?xml version="1.0"?>

<model>
  <name>human_protection_wall</name>
  <version>1.0</version>
  <sdf version="1.5">model.sdf</sdf>

  <author>
    <name>Anastasios Zompas</name>
    <email>anastasios@shadowrobot.com</email>
  </author>

  <description>
    A wall for user protection from arm movements.
  </description>
</model>
