<?xml version="1.0"?>

<model>
  <name>laminar_flow_cylinder</name>
  <version>1.0</version>
  <sdf version="1.0">model.sdf</sdf>

  <author>
    <name>Joanna</name>
    <email>joanna@shadowrobot.com</email>
  </author>

  <description>
    A cylinder to form part of the laminar flow
  </description>
</model>