.webnots-notification-box {
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    color: #ffffff;
    font-family: verdana, 'open sans', sans-serif;
    margin-bottom: 25px;
    padding: 10px 14px 10px 14px;
    position: relative;
    box-shadow: 0px 1px 5px #999;
    white-space: pre;
    }
    .webnots-notification-box:before {
    font-family: FontAwesome;
    font-size: 21px;
    left: 10px;
    position: absolute;
    }
    .webnots-information {
    background-color: #db3434;
    }
    .webnots-question {
    background-color: #f1c40f;
    }
    .webnots-question:before {
    content: "\f128";
    margin-left: 2px;
    }
    .webnots-tip {
    background-color: #bb1919;
    }
    .webnots-tip:before {
    content: "\f0eb";
    margin-left: 2px;
    }